node_modules
.expo
dist
.env
.env.*
!.env.example
.turbo
*.log
.DS_Store
*.tsbuildinfo
google-service-account.json
apps/mobile/android/
apps/mobile/ios/
ios/
android/
tanren-f202fb97b00c.json
.idea/
packages/shared/dist/
