node_modules
.expo
dist
!packages/shared/dist
.env
.env.*
!.env.example
.turbo
*.log
.DS_Store
*.tsbuildinfo
google-service-account.json
apps/mobile/android/
apps/mobile/ios/
ios/
tanren-f202fb97b00c.json
